#lightingModePref {
    background: black; 
    color: white;
}

@media (prefers-color-scheme: light) 
{  #lightingModePref  {    
    background: white;    
    color: black;  
}}

#motionPref{

}

@media (preferes-reduced-motion) {
    
}